body  {
   margin: 0;
         font-family: 'Montserrat', sans-serif;
         font-size: 15pt;
         line-height: 1.6;
         color: #333;

}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
        margin: 0;
}

/*Container*/
   .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
   }

/*Intro*/

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background: url("../images/Mogo.jpg") center no-repeat;
   -webkit-background-size: cover;
   background-size:cover;

}

.intro__inner {
   width: 100%;
   max-width: 880px ;
   margin: 0 auto;
   text-align: center;
}

.intro__title {
   font-size: 120px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   color:white ;
   line-height: 1;

}
.intro__title:after {
   content: "";
   display: block;
   height: 3px;
   width: 60px;
   background-color: #fff;
   margin: 30px auto 30px ;

}


.intro__suptitle {
   margin-bottom: 10px;
   font-size: 60px;
   color:white;
   font-family: Kaushan Script, cursive;
   text-align: center;
}

/* Header */
.header {
   padding-top: 30px;
   width: 100%;
   position: absolute;
   top: 0%;
   right: 0%;
   left: 0%;
   z-index: 1000;

}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   font-size: 30px;
   font-weight: 700;
   color: white;
}

/* Nav */
.nav {
   font-size: 14px;
   text-transform:uppercase;

}

.nav__link {
   display: inline-block;
   vertical-align: top;
   margin:0 10px;
   color: white;
   text-decoration: none;
   transition: color 0.2s linear;
   position: relative;
}


.nav__link.active {
   color: #fce38a ;

}



.nav__link:after {
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   background-color: #fce38a ;
   opacity: 0;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
   
   transition: opacity .1s linear;

}
   .nav__link:hover {
      color: #fce38a ;
}


.nav__link:hover:after, .nav__link.active:after {
   opacity: 1;
}

/* button */
.btn {
   display: inline-block;
   vertical-align: top;
   margin-bottom: 60px ;
   border: white 3px solid;
   padding: 8px 30px;
   color: #fff;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
   text-decoration: none;
   transition: linear .2s background, color .1s linear;
}

.btn:hover {
   color: #333 ;
   background-color: white;
}



/*Slider*/
.slider {
   position: absolute;
   bottom: 0%;
   left: 0;
   z-index: 1;
   width: 100% ;
}

.slider__inner {
   display: flex;
   justify-content: space-between;
}

.slider__item {
   width: 24% ;
   padding: 20px 0;
   border-top:3px solid white;
   position: relative;
   font-size: 18px;
   color: white;
   text-transform: uppercase;
   opacity: 0.7;
}
 
.slider__item.active {
   opacity: 1;
}

.slider__item.active:before {
   content: "";
   display: block;
   width: 70px;
   height: 3px ;
   position: absolute;
   background-color:#f38181;
   top: -3px;
   left: 0;
   z-index: 1;

}   


.slider__num {
   font-size: 24px;
   font-weight: 700;
}






